@import url(./normalize.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #047bf3;
}

#photo {
    border-radius: 5%;
}

#card-principal {

    background-color: #fcf9f9;
    border-color: #fcf9f9;
}