@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');




* {
    font-family: "Lato", sans-serif !important;
}

body {
    margin: 0;
    background-color: #047bf3;
}

#photo {
    border-radius: 5%;
}

#card-principal {

    background-color: #fcf9f9;
    border-color: #fcf9f9;
}


.publicacion {
    width: 100%;
    background-color: #003366;
    display: block;

}

.publicacion input[type="text"] {
    width: 30%;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

.publicacion input[type="file"] {
    background-color: gainsboro;
    display: block;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

input[type="file"] button {
    background-color: blue;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
}